[submodule "thirdParty/spdlog"]
	path = thirdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdParty/glfw"]
	path = thirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdParty/volk"]
	path = thirdParty/volk
	url = https://github.com/zeux/volk.git
[submodule "thirdParty/vulkan"]
	path = thirdParty/vulkan
	url = https://gitee.com/xing_yu_hang/Vulkan-Headers.git
[submodule "thirdParty/vma"]
	path = thirdParty/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "thirdParty/glm"]
	path = thirdParty/glm
	url = https://gitee.com/xing_yu_hang/glm.git
